
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Figtree:ital@0;1&family=Happy+Monkey&family=Outfit:wght@700&family=Share+Tech&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Share Tech', sans-serif;

}

ul{
    list-style-type: none;
}
a{
  color: #1E88FF;
}
.wrapper{
  display: flex;
}

.container{
  background-color: #F5F9FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-open{
  width: 84vw;
  position: fixed;
}
.container-closed{
  width: 100vw;
}

/* About Rice */

.about-open{
  width: 16vw;
  position: fixed;
  right: 0;
}
.about-closed{
  width: 0vw;
}
.about-closed .nav__about--container,
.about-closed .social__links,
.about-closed .about__image--wrapper{
  opacity: 0;
  pointer-events: none;
}
.about-me{
  border-top: 4px inset ;
  border-left: 4px inset ;
  border-bottom: 4px inset ;
  background-color: rgb(206, 205, 205);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom:2% ;
}
.nav__about--container{
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
  opacity: 1;
}
.nav__about--container:hover{
  color: #1E88FF;
}
.social__links{
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  font-size: 2rem;
}
.about__image--wrapper{
  opacity: 1;
  display: flex;
  height: 100px;
}

/* Nav */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
}
.nav__image--wrapper{
  display: flex;
  height: 100%;
}

.nav__buttons-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__dark-mode--container{
  padding: 14px 14px 8px 14px;
  font-size: 1.7rem;
}
.nav__dark-mode--container:hover{
  color: #1E88FF;
}
.nav__about-me--container , .nav__about--container{
  padding: 14px 14px 8px 8px;
  font-size: 2rem;
  margin-right:1rem;
  
}
.nav__about-me--container:hover{
  border: 2px solid #1E88FF;
  border-radius: 4px;
}



/* Add Task / Search Bar */

.add-search__bar--wrapper{
  display: flex;
  /* align-items: center; */
  width: 80%;
  padding: 20px 0;
}
.wrapper-closed{
  height: 100%;
}
.wrapper-open{
  height: 70vh;
  /* border: 2px solid #1E88FF; */
}
.add__task--container-closed .add__form--wrapper{
  opacity: 0;
  pointer-events: none;
  display: none;
}
.add__task--container-closed {
  position: relative;

}
.wrapper-open .add__form--wrapper{
  position: absolute;
  width: 50vw;
  height: 60vh;
}
.add__form--wrapper{
  opacity: 1;
  border: 2px solid #1E88FF;
  background-color: rgb(225, 225, 255);
  border-radius: 4px;
  
}
.add__task--form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 1.4rem;
}

.add__task--wrapper{
  flex: 1;
}
.search__task--container{
  flex: 6;
}
.search__task--input{

  font-size: 1.4rem;
  padding: 4px 6px;
  width: 80%;
    background-color: rgb(225, 225, 255);
  border-radius: 4px;
  margin-right: 4px;
  color: #0F172A;
  border: 2px solid #1E88FF;
}
.submit--wrapper{
  width: 90%;
  display: flex;
  justify-content: end;
  /* border: 2px solid #1E88FF; */
}
.add__task , .search__task{
  font-size: 1.4rem;
  padding: 4px 6px;
  border: 2px solid #1E88FF;
  background-color: rgb(225, 225, 255);
  
  border-radius: 4px;
  margin-bottom:2rem ;
}
/* Filter Bar */

.filter__bar--container{
  display: flex;
  width: 80vw;
}
.filter__bar--wrapper{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}
.curr--dropdown{
  font-size: 1.3rem;
  border: 3px solid #1E88FF;
  background-color: rgba(225, 225, 255, 0.685);
  border-radius: 4px;
}
.filter__bar{
  display: flex;  
}
.filter--container{
  padding: 18px ;
  display: flex;
  flex-direction: column;
}

/* Task List */

#tasks{
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh 0;
}
.task__list--wrapper{
  width: 80vw;
  height: 90vh;
  margin: 10vh 0;
  border: 3px solid #1E88FF;
  background-color: rgba(225, 225, 255, 0.685);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  scrollbar-color: #1E88FF rgba(148, 148, 196, 0.411); 
}

.task__info--wrapper {
  border: 3px solid #1E88FF;

}

.task--info-form{
  font-size: 1.2rem;
}